/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

body {
    font-family:"Bai Jamjuree", sans-serif;
    line-height: 1.7;
    color: var(--bs-black);
    background-color:var(--bs-light);
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* Divider style */
.divider {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.09);
}

a {
    text-decoration: none;
}
/* Hover transition  */
.border-hover {
    transition: all 0.4 ease-out;
    border: 2px solid transparent;
}

.border-hover:hover {
    border-color: var(--bs-danger);
}

/* Skip link style  */
.visually-hidden-focusable {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}


/* Intro Section */
.intro-section p {
    max-width:560px;
}

/* Navbar */
.navbar {
    transition: all 0.4s ease-out;
}

.navbar .navbar-nav .nav-link {
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 600; 
   color: rgb(8, 11, 168);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--bs-dark);
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right:16px;
        padding-left:16px;
    }
}

/* Logo animation */
/* Define the animation */
@keyframes logoAnimation {
    0% { transform: scale(1.3); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1.3); }
  }

  /* Add the animation to the logo */
  .navbar-brand h4 {
    animation: logoAnimation 2s infinite; 
  }
/* Animation for nav bar */
/* Add animation to navbar links */
.navbar-nav .nav-link {
    transition: color 0.3s ease-in-out; /*transition effect */
  }
  
  /* Nav Bar change color when hover over */
  /* Change color on hover */
  .navbar-nav .nav-link:hover {
    color: #ff2833; /* Change color when hover*/
  }

/* Dark Mode  */
/* Dark Mode Styles */
.dark-mode {
    --bs-light: #2a2626f0;
    --bs-black: #ffffff; 
}

/* Button Styles */
.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--bs-black);
}

/*  Icon Styles */
.dark-mode-toggle i {
    transition: color 0.4s ease-out;
}

/* Dark Mode Icon Color */
.dark-mode .dark-mode-toggle i {
    color: var(--bs-danger); 
}


/* Service */
.service .icon {
    display: grid;
    align-content: center;
    text-align: center;
    width: 80px;
    height: 80px;
    color: var(--bs-danger);
    font-size: 34px;
    box-shadow: inset 2px 2px 8px rgba(55, 94, 148, 0.3), inset -3px -2px 5px rgba(255, 255, 255, 0.8);
}
